form.add-feedback {
  margin: 0 auto;
  padding: 0 15px 15px;
  max-width: 768px;
  background-color: deepskyblue;
}

form.add-feedback .fieldset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.add-feedback fieldset,
form.add-feedback input {
  border-color: white;
}

form.add-feedback legend {
  margin: 0 auto;
  font-size: 1.5em;
  border-color: white;
}

#form-system-messages {
  width: 100%;
}

form.add-feedback .upper {
  display: flex;
  width: 100%;
}

form.add-feedback .left {
  width: 50%;
  padding: 15px;
}

form.add-feedback .upper input {
  width: 100%;
}

form.add-feedback .right,
form.add-feedback .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  padding: 15px;
}

.form-type-textarea {
  width: 100%;
  margin-top: 0;
}

form.add-feedback .form-type-textarea label,
#edit-message--description {
  padding-left: 15px;
}

form.add-feedback .form-textarea-wrapper {
  padding: 0 15px;
}

form.add-feedback actions {
  display: flex;
}

form.add-feedback input.button {
  border-radius: 0;
  background-image: none;
  background-color: white;
}

form.add-feedback input.button:hover {
  background-color: deepskyblue;
  color: white;
}

@media (max-width: 768px) {
  form.add-feedback .upper {
    flex-direction: column;
  }

  form.add-feedback .right,
  form.add-feedback .left {
    width: 100%;
  }
}
