h1.page-title {
  text-align: center;
}

.main-content .post-container h2 {
  margin: 45px 0 15px;
  text-align: center;
}

.post {
  display: flex;
  margin: 15px auto;
  padding: 15px;
  background-color: deepskyblue;
  color: #f9f3a0;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  min-width: 120px;
  border: 1px solid white;
}

.user-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.user-info ul li {
  font-family: sans-serif;
}

.user-info ul li span {
  font-family: serif;
  font-size: 0.9em;
}

.username {
  margin-top: 0;
  font-size: large;
  font-family: sans-serif;
}
.avatar-container {
  width: 100px;
  height: 100px;
  padding-bottom: 15px;
}
img.avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.post-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  border: 1px solid white;
  border-left: none;
}

.post-header {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
}

.post-body {
  padding: 15px;
  color: #61614e;
}

.post-body .attached {
  margin: 0;
  padding: 15px 0 5px 15px;
  border-top: 1px solid white;
  color: #f9f3a0;
}
.post-picture {
  max-width: 200px;
}

.post-picture:hover,
.full-post-picture:hover {
  cursor: pointer;
}

.full-post-picture {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
  width: 100vw;
  height: 100vh;
}

.show {
  display: flex;
}

.admin {
  flex-grow: 1;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.admin button + button,
.admin div + button {
  margin-left: 15px;
}

.admin button {
  color: black;
}

@media (max-width: 768px) {
  .post-picture {
    width: 100%;
  }
}
