{#
/**
 * @file
 * Contains the text of the page_example explanation page
 */
#}

<h2>Guestbook</h2>
<ul>
  {% for user in users %}
    <li><img src="{{ user.avatar|e }}"></li>
    <li>{{ user.timestamp|e }}</li>
  {% endfor %}
</ul>
